<!doctype html>
<html lang="en">
{% include 'base/head.html' %}
<style>
    html, body {
        margin-top: 0;
        height: 100%;
    }

    body {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
    }
</style>
<body>
<div class="container text-center">
    <h3>404 Not Found</h3>
    <br/>
    <h4> → <a href="/mturk/rapid-annotation/v2">Amazon Mechanical Turk (v2)</a> </h4>
</div>

{% include 'base/script.html' %}
<script>
</script>
</body>
</html>
